a {
  text-decoration: none;
  color: inherit;
}

.left-slot {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.right-slot {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.account_info{
  position:static;
  margin-left: 1rem;
}

.unknown_user{
  display:block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.Account {
  position: absolute;
  top: 40%;
  left: 80%;

  display: flex;        
  flex-direction: row;  
  align-items: center;             
}

.user_button{
  padding:0;
  width: 2.5rem;
  height: 2.5rem;
  overflow:hidden;
  border-radius:50%;
  border: 1px solid black;
}